.menu-container img {
  width: 100%;
  border-radius: 1rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Media Queries */
@media screen and (min-width: 737px) {
  .menu-container {
    flex-direction: row;
  }

  .menu-item {
    width: 100%;
  }

  .menu-container hr {
    display: none;
  }
}
