/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Header */
header {
  background-color: #70a800;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

img {
  width: 100%;
}

.logo {
  width: 50px;
}

.main-title-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.main-title-container h1 {
  color: #fff;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

nav ul li {
  width: 100%;
  border: 1px solid yellow;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

/* Container */
.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem;
}

/* Hero */
.hero img {
  border-radius: 1rem;
}

/* Newsletter */
aside {
  background-color: #eba2a2;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside h2 {
  width: fit-content;
  border-bottom: 1px solid yellow;
}

form input {
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: inherit;
  border: none;
}

form input[type="submit"] {
  background-color: #70a800;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #134c01;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
