body {
  min-height: 100svh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1rem solid #000;
  border-radius: 3rem;
  background-color: white;
}

.numbers div {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 2.5rem;
  background: transparent;

  display: flex;
  justify-content: center;
}
.numbers div span {
  position: absolute;
}
.three {
  rotate: 270deg;
}
.six {
  rotate: 180deg;
}
.nine {
  rotate: 90deg;
}

.hand {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0%);
  transform-origin: left bottom;
  z-index: 1;
}
.hour {
  width: 0.5rem;
  height: 35%;
  background-color: #000;
  rotate: 30deg;
}
.minute {
  width: 0.5rem;
  height: 45%;
  background-color: #000;
  rotate: 70deg;
}
.second {
  width: 0.5rem;
  height: 50%;
  background-color: red;
}
.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  z-index: 1000;
}

.model {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.model span {
  margin-top: 5.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
