.todoList {
  background-color: #ddd;
  color: #000;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
.deleteBtn {
  background-color: #ff0000;
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
